* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    scrollbar-width: none;
    /* border: 1px solid red; */
}

.wrapper {
    width: 100%;
    height: 100%;
}

.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    background-color: #F5F7FA;
    justify-content: space-around;
    padding: 15px;
}

.navbar .brand {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.navbar .brand img {
    width: 35px;
    height: 25px;
    margin-right: 5px;
}

.link ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.link a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 10px;
}

.buttons {
    display: flex;
}

.login{
    border: none;
    background-color: inherit;
    width: 90px;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    color: #4CAF4F;
}

.signup{
    border: none;
    background-color: #4CAF4F;
    color: white;
    width: 90px;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    border-radius: 6px;
}

.hero {
    width: 100%;
    height: 100%;
}

.slider {
    display: flex;
    width: 100%;
    height: 500px;
    padding: 40px;
    align-items: center;
    justify-content: space-around;
    background-color: #F5F7FA;
}

.text p {
    font-size: 64px;
    font-weight: 600;
    color: #4D4D4D;
}

.text .difcolor {
    color: #4CAF4F;
}

.text .small {
    font-size: 16px;
    font-weight: 400;
}

.slider img {
    width: 25%;
    height: 65%;
}

.text button {
    border: none;
    background-color: #4CAF4F;
    color: white;
    width: 130px;
    height: 52px;
    font-size: 16px;
    margin-top: 32px;
    cursor: pointer;
    display: inline-block;
    border-radius: 6px;
}

.credit {
    width: 100%;
    height: 190px;
    text-align: center;
    margin-top: 40px;
}

.credit p {
    font-size: 36px;
    font-weight: 600;
    color: #4D4D4D;
}

.credit .small {
    font-size: 16px;
    font-weight: 400;
}

.credit img {
    margin: 8px;
}

.cards {
    width: 100%;
    height: 416px;
    text-align: center;
    margin: 40px 0px;
}

.cards p {
    font-size: 36px;
    font-weight: 600;
    color: #4D4D4D;
}

.cards .small {
    font-size: 16px;
    font-weight: 400;
}

.card {
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: space-between;
    justify-content: center;
}

.card p {
    font-size: 28px;
    font-weight:600;
}

.card .card1 {
    width: 33%;
    transition: 0.3s;
    padding: 10px;
}

.card .card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .card2 {
    width: 33%;
    transition: 0.3s;
    padding: 10px;
}

.card .card2:hover:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .card3 {
    width: 33%;
    transition: 0.3s;
    padding: 10px;
}

.card .card3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.unlock {
    display: flex;
    width: 100%;
    height: 435px;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 40px;
    align-items: center;
    gap: 50px;
}

.unlock p {
    font-size: 36px;
    font-weight: 600;
    color: #4D4D4D;
    margin: 8px;
}

.unlock .small {
    font-size: 14px;
    font-weight: 400;
}

.unlock button {
    border: none;
    background-color: #4CAF4F;
    color: white;
    width: 151px;
    height: 52px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius: 6px;
    transition: 0.3s;
}

.unlock button:hover {
    background-color: white;
    color: #4CAF4F;
    border: #4CAF4F 1px solid;
}

.achiev {
    display: flex;
    width: 100%;
    height: 288px;
    align-items: center;
    background-color: #F5F7FA;
    gap: 40px;
    margin: 40px 0px;
}

.achiev .text {
    margin: 0 auto;
} 

.achiev .text p {
    font-size: 36px;
}

.achiev .text span {
    color: #4CAF4F;
}

.achiev .text .small {
    font-size: 16px;
}



.achievicon {
    display: flex;
    gap: 5px;
    align-items: center;
}

.grid {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.Calender {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 40px 0px;
}

.Calender .Calender-img {
    width: 50%;
    text-align: center;
}

.Calender .Calender-content {
    width: 50%;
}

.Calender .Calender-content span {
    font-size: 36px;
    font-weight: 600;
    color: #4D4D4D;
}

.Calender .Calender-content button {
    border: none;
    background-color: #4CAF4F;
    color: white;
    width: 130px;
    height: 52px;
    font-size: 16px;
    margin-top: 32px;
    cursor: pointer;
    display: inline-block;
    border-radius: 6px;
}
.Customers {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 40px 0px;
}
.Customers-content-logos {
    display: flex;
    justify-content: space-around;
}
.Customers-content-logos-button {
    display: flex;
    align-items: center;
    gap: 10px;
}
.Customers-content-logos-button h1 {
    font-size: 20px;
    color: #4CAF4F;
}



footer {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    background-color: #F5F7FA;
}

footer .ads {
    width: 100%;
    height: auto;
    background-color: #F5F7FA;
    text-align: center;
    margin: 32px 0px;
}

footer .ads p {
    font-size: 64px;
    font-weight: 500;
    margin: 32px 0px;
}

footer .ads button {
    border: none;
    background-color: #4CAF4F;
    color: white;
    width: 178px;
    height: 52px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius: 6px;
}

footer .ads img {
    width: 16px;
    height: 16px;
}

.wrapper-footer {
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
    align-items: center;
    padding: 40px 165px;
    color: white;
    background-color: #263238;
}

.footer-content {
    display: flex;
    flex-direction: column;
    /* margin: 64px 165px; */
    gap: 40px;
    width: 350px;
    height: 190px;
}

.footer-logo {
    width: 44px;
    height: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.footer-text {
    gap: 8px;
    font-size: 14px;
}

.footer-social {
    display: flex;
}

.footer-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D4D4D;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.footer-links {
    display: flex;
    gap: 30px;
    margin: 64px 0px;
}

.footer-company,.footer-support {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: auto;
    gap: 24px;
}

.footer-company h2,.footer-support h2 {
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

.footer-company ul li {
    list-style: none;
    padding: 6px 0px;
    display: flex;
    align-items: center;
}

.footer-company a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

.footer-support ul li {
    list-style: none;
    padding: 6px 0px;
    display: flex;
    align-items: center;
}

.footer-support a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

.footer-input {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-input p {
    font-size: 20px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.footer-input-email {
    width: 255px;
    height: 40px;
    background-color: #4D4D4D;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-input-email input {
    border: none;
    background-color: #4D4D4D;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

input:focus {
    outline: none;
}

::placeholder {
    color: white;
    opacity: 60%;
}